{% extends 'MediSmartApp/base.html' %}
{% block classname %}class="base"{% endblock %}
{% block top %}
{{patient.first_name}} {{patient.last_name}} {{patient.pesel}}
{% endblock %}

{% block content %}


<a class="button" href="/MediSmartApp/patient_delete/{{patient.id}}" >Delete patient</a>
<a class="button" href="/MediSmartApp/patient_edit/{{patient.id}}">Edit patient</a>
<a class="button" href="/MediSmartApp/visit_add/{{patient.id}}">Add a visit</a>
<a class="button" href="/MediSmartApp/">Homepage</a>
<a class="button" href="/MediSmartApp/patient_index">Patient index</a>
{% if visits %}
<table>
{%for v in visits%}
    <tr>
        <td> {{v.visit_date}} </td>
        <td><a class="button" href="/MediSmartApp/visit_details/{{v.id}}">Visit details</a></td>
        <td><a class="button" href="/MediSmartApp/visit_delete/{{v.id}}/{{patient.id}}">Delete visit</a></td>
        <td><a class="button" href="/MediSmartApp/{{patient.id}}/visit_edit/{{v.id}}">Edit visit</a></td>
    </tr>
{% endfor %}
</table>

{%else %}
<p>No visits for this patient yet</p>
{%endif%}



{% endblock %}

